footer {
  // position: static;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  color:#fff;
}

.footer {
  margin-top: 40px;
  text-align: center;
}
.footer button {
  padding: 1em 4em;
  cursor: pointer;
  background-color: #ffa481;
  box-shadow: 5px 5px 0px 0px lighten(#95a5ff, 5%);
  border: none;
  font-size: 1.2rem;
  transition: .5s ease;
  color: #484f60;
}
.footer button:hover {
  box-shadow: 10px 10px 0px 0px lighten(#95a5ff, 5%);
  transition: .5s ease;
}
