<div class="container">
  <div  class="main-container">
    <div class="grid-container">
      <div *ngFor="let note of open" class="column">
        <mat-card *ngIf="note.state === 'abierto'" class="card open" (click)="editNote(note.id)">
          <div>
            <h3 class="title">{{note?.title}}</h3>
            <p class="description">{{note.description}}</p>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="grid-container">
      <div *ngFor="let note of inProgress" class="column">
        <mat-card *ngIf="note.state === 'en proceso'" class="card inProgress" (click)="editNote(note.id)">
          <div>
            <h3 class="title">{{note.title}}</h3>
            <p class="description">{{note.description}}</p>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="grid-container">
      <div *ngFor="let note of closed" class="column">
        <mat-card *ngIf="note.state === 'cerrado'" class="card closed" (click)="editNote(note.id)">
          <div>
            <h3 class="title">{{note.title}}</h3>
            <p class="description">{{note.description}}</p>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

