mat-toolbar {
  display: flex;
  justify-content: center;
  // background-color: #fff6af;
  background-color: transparent;
  margin-bottom: 2em;
}
.main-title {
  text-align: center;
  padding: 1em;
  color: #555;
  font-weight: 500;
}
